discord.py==1.6.*
environs==9.3.*
psycopg2-binary==2.9.*
SQLAlchemy==1.4.*
beautifulsoup4==4.9.*
jikan4==0.2.*
deep-translator==1.9.*
python-dateutil==2.8.*
heroku3==5.2.*
requests==2.31.*
pytz==2024.1
google-genai==1.16.1